@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
    background-color: #FFFAFF;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #020202;
}
h1, h2 {
    font-weight:900;
    margin: 2rem auto;
}


/* Home Page */

/* .dark-section {
    background-color: #57CC99;
    color: #FFFAFF;
} */
.nav .nav-item {
    margin-right: 1px;
}
.nav .nav-link {
    color: #38A3A5;
}
.nav i {
    font-size:1.2rem;
}
.title h1 {
    font-size:5rem;
}
.title p {
    font-size: 1.8rem;
}
.main-img {
    width: 70vh;
}
.home-btn {
    background-color: #57CC99;
    background-image: linear-gradient(to bottom, #57CC99, #38A3A5);
    color: #fff;
    border-radius: 30px;
    margin-top: 2rem;
}
.home-btn:hover {
    background: #57CC99;
    color: #fff;
}
.about {
    padding: 3rem 1rem;
}
.about-carousel {
    margin: auto;
}
.about-content p {
    max-width: 500px;
    line-height: 2.5rem;
}
.diamond, .tick {
    list-style-type: none;
}
.tick li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 10px 0 -15px;
    color: #57CC99;
}
.diamond li:before {
    font-family: 'FontAwesome';
    content: '\f3a5';
    margin: 0 10px 0 -15px;
    color: #FCE38A;
}
.features .text-center ul {
    display: inline-block;
    text-align: left;
}
.steps {
    padding: 2rem 5rem;
}
.step {
    width: 17rem;
    margin: 2rem auto;
    padding: 2rem 4rem;
    background-color: #fff;
    border: 1px solid #57CC99;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgb(207, 207, 207);
}
.step span {
    background-color: #57CC99;
    padding: 10px 18px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top:0;
    margin-left: -20px;
    margin-top: -20px;
    font-weight: bold;
    color: #fff;
}
.step i {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #57CC99;
}
.step p {
    font-weight: bold;
    font-size: 1.2rem;
}
.testimonials {
    margin: 1rem 7rem;
}
.testimonial {
    background-color: #57CC99;
    padding: 3rem 3rem;
    color: #fff;
    max-width: 350px;
    margin: 2rem auto;
    border-radius: 10px;
}
.testimonial i {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.avatar {
    border-radius: 100%;
    width: 6rem;
    display: block;
    margin: 2rem auto 0.7rem;
}
.testimonial span {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
#top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #020202;
    color: #fff;
    border-radius: 100%;
}

/* Login Page */
.login-page {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 80px;
}
.login-form {
    box-sizing: border-box;
    background-color: #F2F5C8;
    border-radius: 8px;
    padding: 20px;
    width: 25%;
    margin: 50px auto;
    position: relative;
    animation: animatezoom 0.4s;
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.cross {
    position:absolute;
    right:25px;
    font-size:25px;
    color: #020202;
}
.cross:hover {
    color:#38A3A5;
}
.login-form h2 {
    text-align: center;
    color: #57CC99;
    font-weight: 700;
    margin-bottom: 30px;
}
.login-form h2 span {
    font-weight: 400;
    color: #57CC99;
}
.login-input {
    box-sizing: border-box;
    width:100%;
    background-color: #FFFAFF;
    border: 0;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #38A3A5;
}
.login-input:focus {
    outline: none;
}
.login-form .btn {
    position: relative;
    width:100%;
    padding:20px;
    border-radius: 6px;
    border:0;
    background-color: #38A3A5;
    font-size: 1.2em;
    color: #FFFAFF;
    text-shadow:1px 1px 0px rgba(0,0,0,.1);
    box-shadow:0px 3px 0px #1a8077;
}
.login-form .btn:hover {
    opacity: 0.9;
}
.login-form .btn:active {
    top: 3px;
    box-shadow: none;
}
.login-form .btn:disabled {
    /* background-color: #C1DEAE; */
    opacity: 0.6;
    cursor: initial;
    top: 3px;
    box-shadow: none;
}
.login-form small {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #57CC99;
}
.login-form small:hover {
    color: #219F94;
}
.pointer {
    cursor: pointer;
}

/* Register */
.register {
    padding: 3% 10%;
}
.form-col {
    padding-left: 10%;
    padding-right: 10%;
}
.register form {
    margin-top:50px;
}
.register-input {
    display: block;
    margin: 2rem 0;
    width: 90%;
    padding: 2%;
    border: none;
    background-color: #FFFAFF;
    border-bottom: 1px solid #57CC99;
    padding-left: 40px;
}
.register-input:focus::placeholder {
    color: #57CC99;
}
.register-input:focus {
    outline: none;
    border-bottom: 1px solid #408f6d;
}
.register-btn { 
    padding: 2% 10%;
    margin-top: 2%;
}
.register i {
    position: absolute;
    padding: 14px;
    color: #57CC99;
}
#contact::-webkit-outer-spin-button,
#contact::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Side Bar */
#sidebar {
    position: fixed;
    z-index: 1;
}
main {
    margin-left: 270px;
}
.logo {
    width: 10rem;
    margin: 2rem 3rem;
}
.hello-user {
    font-family: 'Dancing Script', cursive;
    margin: 10px auto 30px;
    color: #38A3A5;
}
a.list-group-item:hover {
    color: #38A3A5;
}
#active {
    background-color: #38A3A5;
    color: #fff;
}
.fun-fact {
    padding: 10%;
    max-width: fit-content;
    color: #a59c9c;
    white-space:pre-line;
    font-style: italic;
    height: 225px;
}

/* Groups */
.group-icon {
    font-size: 2rem;
    color: #38A3A5;
}
.group-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    color: #38A3A5;
}
.status {
    float: right;
}
.bg-theme {
    background-color: #57CC99;
    color: #fff;
}
.bg-theme:hover {
    opacity: 0.9;
    color: #fff;
}
.balances {
    margin-top: 30px;
}
.balances label {
    display:table;
    margin-bottom: 10px;
    cursor: pointer;
}
.balances label input {
    height: 17px;
    width: 17px;
    cursor: pointer;
    margin-right: 5px;
}


/* Add Group  */
.add-group {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.group-form {
    box-sizing: border-box;
    background-color: #F2F5C8;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 50px auto;
    position: relative;
    animation: animatezoom 0.4s;
}
.group-form h2 {
    text-align: center;
    color: #57CC99;
    font-weight: 700;
    margin-bottom: 30px;
}
.group-form h2 span, .group-form h4 {
    font-weight: 400;
    color: #57CC99;
    margin-bottom: 20px;
}
.group-input {
    box-sizing: border-box;
    width:100%;
    background-color: #FFFAFF;
    border: 0;
    padding: 10px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #38A3A5;
}
.group-input:focus {
    outline: none;
}
.group-form .btn {
    position: relative;
    width:100%;
    padding:20px;
    border-radius: 6px;
    border:0;
    background-color: #38A3A5;
    font-size: 1.2em;
    color: #FFFAFF;
    text-shadow:1px 1px 0px rgba(0,0,0,.1);
    box-shadow:0px 3px 0px #1a8077;
}
.group-form .btn:hover {
    opacity: 0.9;
}
.group-form .btn:active {
    top: 3px;
    box-shadow: none;
}
.group-form .btn:disabled {
    opacity: 0.6;
    cursor: initial;
    top: 3px;
    box-shadow: none;
}
.change-member {
    font-size: smaller;
}


/* Group Detail Inputs */
.expense-input {
    margin:10px;
    border: none;
    border-bottom:1px solid black;
}
.expense-input:focus {
    outline:none;
}
.expense-btn {
    margin-left:10px;
}
.member-input {
    margin-top:10px;
    border: none;
    border-bottom:1px solid black;
    font-size: smaller;
}
.member-input:focus {
    outline:none;
}
.member-btn {
    padding:1% 2%;
    font-size: small;
}


/* Footer  */
footer {
    background-color: #57CC99;
    color: #fff;
}